body{
    background-color:burlywood ;
    display:grid;
    place-items:center;


}
#result{
    width:500px;
    height:50px;
    font-size:30px;
    align-items: center;
}
h1{
    background: linear-gradient(lightblue,white);
    text-align: center;
}
table{
    width:300px;
    height:100px;
    background-color:dimgrey;
    align-items: center;
}
td{
    width:800px;
    height:100px;
    font-size:100px;
    top:200px;
}
button{
    width:100px;
    height:60px;
    font-size:18px;
    border-radius:6px;
}